<app-header></app-header>

<div class="title-div" align="center">
    <div class="container">
        <h1 class="display-3" class="text-info"></h1>
        <h4 class="text-danger">Hey foodies!!!We have amazing food items you must be craving for. Have a look around our free website and you recommend some of your favorite with us.
        </h4>
        <div id="food-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-interval="1000">
                    <img class="d-block w-100" src="https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="First slide">
                </div>
                <div class="carousel-item" data-interval="1000">
                    <img class="d-block w-100" src="https://images.pexels.com/photos/461198/pexels-photo-461198.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Second slide">
                </div>
                <div class="carousel-item" data-interval="1000">
                    <img class="d-block w-100" src="https://images.pexels.com/photos/3631/summer-dessert-sweet-ice-cream.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Third slide">
                </div>
            </div>
        </div>
        <app-food-tables></app-food-tables>
        <app-food-list></app-food-list>
        <div class="center"><br>
            <h3>Browse Meals</h3><br>




        </div>
    </div>
</div>