<app-header></app-header>

<div class="title-div" align="center">
    <div class="container">
        <h1 class="display-3" class="text-info"></h1>
        <h4 class="text-danger">Hey foodies!!!We have amazing food items you must be craving for. Have a look around our free website and you recommend some of your favorite with us.
        </h4>
        <div id="food-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-interval="1000">
                    <img class="d-block w-100" src="https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="First slide">
                </div>
                <div class="carousel-item" data-interval="1000">
                    <img class="d-block w-100" src="https://images.pexels.com/photos/461198/pexels-photo-461198.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Second slide">
                </div>
                <div class="carousel-item" data-interval="1000">
                    <img class="d-block w-100" src="https://images.pexels.com/photos/3631/summer-dessert-sweet-ice-cream.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="Third slide">
                </div>
            </div>
        </div>
        <app-food-tables></app-food-tables>
        <app-food-list></app-food-list>
        <div class="center"><br>
            <h3>Browse Meals</h3><br>



            <h2>
                <a href="/browse.php?b=a">A</a> / <a href="/browse.php?b=b">B</a> / <a href="/browse.php?b=c">C</a> / <a href="/browse.php?b=d">D</a> / <a href="/browse.php?b=e">E</a> / <a href="/browse.php?b=f">F</a> /
                <a href="/browse.php?b=g">G</a> / <a href="/browse.php?b=h">H</a> / <a href="/browse.php?b=i">I</a> / <a href="/browse.php?b=j">J</a> / <a href="/browse.php?b=k">K</a> / <a href="/browse.php?b=l">L</a> /
                <a href="/browse.php?b=m">M</a> / <a href="/browse.php?b=n">N</a> / <a href="/browse.php?b=o">O</a> / <a href="/browse.php?b=p">P</a> / <a href="/browse.php?b=q">Q</a> / <a href="/browse.php?b=r">R</a> /
                <a href="/browse.php?b=s">S</a> / <a href="/browse.php?b=t">T</a> / <a href="/browse.php?b=u">U</a> / <a href="/browse.php?b=v">V</a> / <a href="/browse.php?b=w">W</a> / <a href="/browse.php?b=x">X</a> /
                <a href="/browse.php?b=y">Y</a> / <a href="/browse.php?b=z">Z</a> </h2>
        </div>
    </div>
</div>